.funding .card--horizontal {
	margin-bottom: 80px;
}

.card--horizontal {
	display: flex;
	flex-direction: row;
	border: 0;
}

.card--horizontal .card-cover,
.card--horizontal .card-body {
	position: relative;
	width: 50%;
}

.card--horizontal .card-cover img {
	width: 100%;
	height: auto;
	box-shadow: -10px 10px 0 #bcde8d;
}

.card--horizontal .graph {
	position: absolute;
}

.card--horizontal:nth-of-type(0n + 1) .graph-card-1 {
	top: -20px;
	left: 20px;
}

.card--horizontal:nth-of-type(0n + 1) .graph-card-2 {
	top: 50%;
	right: -35px;
	transform: translateY(-50%);
}

.card--horizontal:nth-of-type(0n + 1) .graph-card-3 {
	bottom: 20px;
	right: -30px;
}

.card--horizontal:nth-of-type(2n) .graph-card-1 {
	top: 50%;
	left: -35px;
}

.card--horizontal:nth-of-type(2n) .graph-card-2 {
	top: 50%;
	left: -25px;
	transform: translateY(-50%);
}

.card--horizontal:nth-of-type(2n) .graph-card-3 {
	bottom: 20px;
	right: -30px;
}

.card--horizontal .card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0 60px;
}

.card--horizontal .card-body h3 {
	font-size: 43px;
	font-weight: 700;
	margin-bottom: 10px;
}

.card--horizontal .card-body p {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 16px;
}

.card--horizontal .card-body a {
	padding: 0;
}

.card--horizontal .card-body + .card-cover img {
	box-shadow: 10px 10px 0 #88c0b6;
}
