.section {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: white;
}

.how-does-it-work {
	padding-top: 160px;
}

.section-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 40px;
}

.section-header h3 {
	display: flex;
	flex-direction: column;
	margin: auto;
	font-size: 42px;
	font-weight: 700;
	text-align: center;
}

.section-header h3 small {
	font-size: 28px;
	font-weight: 700;
	color: #606161;
}

.how-does-it-work .card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card--vertical {
	position: relative;
	width: calc(25% - 15px);
	height: 400px;
	border-radius: 0;
	border: 0;
	box-shadow: 5px 10px 16px rgba(0, 0, 0, 0.1);
}

.card--translate:nth-of-type(1n) {
	transform: translate3d(0px, -10%, 0px);
}

.card--translate:nth-of-type(2n) {
	transform: translate3d(0px, 10%, 0px);
}

.card--vertical .card-header {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 30px 20px 0 20px;
	border: 0;
	background: initial;
}

.card--vertical .card-header p {
	margin: 0;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.2;
	color: #c3fcf2;
	text-shadow: 0 1px 1px rgba(51, 51, 51, 0.5), 0 0 20px rgba(51, 51, 51, 0.5);
}

.card--vertical .card-icon {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

.card--vertical .card-body {
	position: relative;
	z-index: 1;
	padding: 30px 20px;
}

.card--vertical .card-body h3 {
	display: flex;
	flex-direction: column;
	font-size: 32px;
	font-weight: 600;
	color: white;
}

.card--vertical .card-body h3 small {
	font-size: 24px;
	font-weight: 400;
}

.card--vertical .card-cover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

.card--vertical .card-cover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(47, 47, 47, 0), rgba(51, 51, 51, 0.9));
}

.card--vertical .card-cover .img--cover {
	position: relative;
	z-index: 0;
}

.img--cover {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
